.theme-dark {
  --colors-gray1: #161616;
  --colors-gray2: #1c1c1c;
  --colors-gray3: #232323;
  --colors-gray4: #282828;
  --colors-gray5: #2e2e2e;
  --colors-gray6: #343434;
  --colors-gray7: #3d3d3d;
  --colors-gray8: #505050;
  --colors-gray9: #707070;
  --colors-gray10: #7e7e7e;
  --colors-gray11: #a0a0a0;
  --colors-gray12: #ededed;

  --primary-600: var(--colors-gray1);
  --primary-630: var(--colors-gray2);
  --primary-660: var(--colors-gray3);
  --primary-700: var(--colors-gray4);
  --primary-800: var(--colors-gray6);
  --primary-530: var(--colors-gray7);
  --primary-500: var(--colors-gray7);
  --primary-800: var(--colors-gray5);

  --background-modifier-selected: var(--colors-gray5);
  --background-modifier-hover: var(--colors-gray4);

  --channel-text-area-placeholder: var(--dark-bg-text-color);
  --channeltextarea-background: var(--input-background);

  --default-text-color: var(--interactive-normal);
  --text-muted: var(--colors-gray11);

  --scrollbar-auto-thumb: var(--background-secondary);
  --scrollbar-auto-track: transparent;

  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  --modal-background: var(--background-tertiary);
  --modal-footer-background: var(--background-accent);
  --button-secondary-background: var(--background-modifier-selected);
  --input-background: var(--background-secondary);

  /* forum channels */
  --home-background: var(--background-primary);

  /* custom colors */

  --dark-bg-bg-color: #7d7d7d;
  --dark-bg-text-color: #8d8d8d;
  --dark-bg-bg-color-hover: #a1a1aa;

  --green-thing: rgb(59, 165, 92);
}

/* patches for things that dont use variables for some unknown reason */

.theme-dark .container-1QtPKm {
  background-color: var(--background-modifier-selected) !important;
}

.theme-dark .container-1QtPKm.disabled-3_3z1m {
  background-color: var(--input-background) !important;
}

.theme-dark .container-1QtPKm.checked-16gMAN {
  background-color: var(--green-thing) !important;
}

.theme-dark .key-N5VmHN {
  background-color: var(--background-modifier-selected);
}

/* message bar colors */

.theme-dark .channelTextArea-1deLlK {
  --interactive-normal: var(--dark-bg-bg-color);
  --interactive-hover: var(--dark-bg-bg-color-hover);
  --interactive-active: var(--dark-bg-bg-color-hover);
}

.theme-dark .emojiButtonNormal-35P0_i > div {
  filter: brightness(0.6);
}

.theme-dark .autocomplete-3NRXG8 {
  --interactive-normal: var(--default-text-color);
  --interactive-active: var(--default-text-color);
}

/* Channels & Roles */
.theme-dark .container-2IKOsH,
.theme-dark .container-1um7CU,
.theme-dark .header-3xB4vB,
.theme-dark .scrollerContainer-y16Rs9,
.theme-dark .emptyPage-2TGR7j {
  background-color: var(--background-primary);
}

.theme-dark .chat-9g_3Xj .profileCard-2gVmvm {
  background-color: var(--background-secondary);
}

/* WHY is there a random :after element with a linear gradient ?? */
.theme-dark .innerHeader-1cC3Fp:after {
  background: transparent;
}

/* DM voice call container buttons */

.theme-dark .callContainer-HtHELf .colorable-3rVGna.primaryDark-2UJt1G {
  background-color: var(--background-tertiary);
}

/* quickcss fix */

.theme-dark #replugged-quickcss-wrapper .cm-editor {
  background-color: var(--background-secondary);
}

.theme-dark #replugged-quickcss-wrapper .cm-activeLine {
  background-color: var(--background-modifier-hover);
}

.theme-dark #replugged-quickcss-wrapper .ͼ3 .cm-gutters {
  background-color: var(--background-tertiary);
}

.theme-dark #replugged-quickcss-wrapper .cm-activeLineGutter {
  background-color: var(--background-modifier-selected);
}
