.theme-dark {
  --colors-gray1: #161616;
  --colors-gray2: #1c1c1c;
  --colors-gray3: #232323;
  --colors-gray4: #282828;
  --colors-gray5: #2e2e2e;
  --colors-gray6: #343434;
  --colors-gray7: #3d3d3d;
  --colors-gray8: #505050;
  --colors-gray9: #707070;
  --colors-gray10: #7e7e7e;
  --colors-gray11: #a0a0a0;
  --colors-gray11-5: #a8a8a8;
  --colors-gray12: #ededed;

  --primary-330: var(--colors-gray11-5);
  --primary-360: var(--colors-gray12);

  --primary-600: var(--colors-gray1);
  --primary-630: var(--colors-gray2);
  --primary-660: var(--colors-gray3);
  --primary-700: var(--colors-gray4);
  --primary-800: var(--colors-gray6);
  --primary-530: var(--colors-gray7);
  --primary-500: var(--colors-gray7);
  --primary-800: var(--colors-gray5);

  --background-modifier-selected: var(--colors-gray5);
  --background-modifier-hover: var(--colors-gray4);

  --channel-text-area-placeholder: var(--dark-bg-text-color);
  --channeltextarea-background: var(--input-background);

  --default-text-color: var(--interactive-normal);
  --text-muted: var(--colors-gray11);

  --scrollbar-auto-thumb: var(--background-secondary);
  --scrollbar-auto-track: transparent;

  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  --modal-background: var(--background-tertiary);
  --deprecated-card-bg: var(--background-tertiary);
  --modal-footer-background: var(--background-accent);
  --button-secondary-background: var(--background-modifier-selected);
  --input-background: var(--background-secondary);

  /* forum channels */
  --home-background: var(--background-primary);

  --channels-default: var(--colors-gray10);
  --channel-icon: var(--colors-gray10);

  /* custom colors */

  --dark-bg-bg-color: #7d7d7d;
  --darker-bg-bg-color: #4b4b4b;
  --dark-bg-text-color: #8d8d8d;
  --dark-bg-bg-color-hover: #a1a1aa;

  --green-thing: rgb(59, 165, 92);

  /* gradient in search */
  --search-popout-option-fade: transparent;
  --search-popout-option-fade-hover: transparent;
}

/* patches for things that dont use variables for some unknown reason */

/* checkbox */
.theme-dark .container__871ba {
  background-color: var(--background-modifier-selected) !important;
}

/* checkbox disabled */
.theme-dark .container__871ba.disabled_eac369 {
  background-color: var(--background-modifier-selected) !important;
}

/* checkbox checked */
.theme-dark .container__871ba.checked__6bdb0 {
  background-color: var(--green-thing) !important;
}

.theme-dark .key-N5VmHN {
  background-color: var(--background-modifier-selected);
}

/* message bar colors */

.theme-dark .channelTextArea__2e60f {
  --interactive-normal: var(--darker-bg-bg-color);
  --interactive-hover: var(--dark-bg-text-color);
  --interactive-active: var(--dark-bg-text-color);
}

.theme-dark .autocomplete_df266d {
  --interactive-normal: var(--colors-gray11);
  --interactive-active: var(--colors-gray12);
}

/* channel header colors */

*[aria-label='Channel header'] {
  --interactive-normal: var(--dark-bg-bg-color);
  --interactive-hover: var(--dark-bg-text-color);
  --interactive-active: var(--dark-bg-text-color);
}

/* DM voice call container buttons */

.theme-dark .callContainer-HtHELf .colorable-3rVGna.primaryDark-2UJt1G {
  background-color: var(--background-tertiary);
}

/* quickcss fix */

.theme-dark #replugged-quickcss-wrapper .cm-editor {
  background-color: var(--background-secondary);
}

.theme-dark #replugged-quickcss-wrapper .cm-activeLine {
  background-color: var(--background-modifier-hover);
}

.theme-dark #replugged-quickcss-wrapper .ͼ3 .cm-gutters {
  background-color: var(--background-tertiary);
}

.theme-dark #replugged-quickcss-wrapper .cm-activeLineGutter {
  background-color: var(--background-modifier-selected);
}

/* report menu hover color fix */

.theme-dark div[role='dialog'] .childButton__832dc:hover {
  background-color: var(--background-modifier-selected) !important;
}
